{% extends 'flatpages/default.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <div style="text-align: center;">
        <h1>Я стартовая страница</h1>
        <hr>
        <h4>Tут ничего интересно, проходите дальше</h4>
        <img src="https://i.gifer.com/4UiS.gif", alt="Если вы это читает значит гифка не подгрузилась(">

        <br>
        <br>
        {% if is_not_premium %}
        <a class="btn btn-dark" href="sign/upgrade/"> Стать автором</a>

        {% endif %}
    </div>

{% endblock content %}