{% extends 'flatpages/default.html' %}


{% load custom_filters %}

{% block title %}
All News
{% endblock title %}


{% block content %}
    <h1>Новостная лента</h1>
    {% if news %}
        <p><i>Количество найденных новостей/статей: <u>{{filter.qs|length}}</u></i></p>


        <form method="GET">
            {{ filter.form }}
            <input type="submit" value="Найти">
        </form>

        <table>
            <tr>
                <th>Заголовок</th>
                <th>Краткое содержание</th>
                <th>Дата публикации</th>
                <th>Форматирование</th>
            </tr>

            {% for val in news %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' val.id %}">{{ val.title|censor }}</a>
                </td>
                <td>{{ val.text|truncatechars:20|censor }}</td>
                <td>{{ val.datetime_post|date:'d M. Y' }}</td>
                <td>
                    <a href="{% url 'post_update' val.id %}"><u>Редактировать</u></a>
                    <a href="{% url 'post_delete' val.id %}"><u> Удалить </u></a>
                </td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}

{% include "flatpages/paginate.html" %}

{% endblock content %}