{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

    <div style="text-align: center;">

        <h2>{{ news.title|censor }}</h2>
        <h5>
            <i>
                {{ news.datetime_post|date:'d M. Y h:m:s' }}
                <span style="color: gray;">(автор: {{news.author}})</span>
            </i>
        </h5>
        <hr>
    </div>

    <div style="text-align: left;">
        {% for text in news.text|split %}
            <p>{{ text|censor }}</p>

        {% endfor %}
    </div>

{% endblock content %}