{% extends 'flatpages/default.html' %}


{% load custom_filters %}

{% block title %}
Search News
{% endblock title %}


{% block content %}
    <h1>Новостная лента</h1>
    {% if news %}
        <p><i>Количество найденных новостей/статей: <u>{{filter.qs|length}}</u></i></p>
        <hr>

        <form  method="GET">
            {{ filter.form }}
            <input type="submit" class="btn btn-outline-dark" value="Найти">
        </form>
        <hr>

        {% for val in news %}
            <div style="text-align: left;">
                <a href="{% url 'post_detail' val.id %}">{{ val.title|censor }}</a>
                <span style="color: gray;">(автор: {{val.author}})</span>
                <br>
                <b>{{ val.datetime_post|date:'d M. Y h:m:s' }}</b>
                <p><b>Категории:
                    {% for cat in val.category.all%}
                        {{cat|title}}
                    {% endfor %}
                </b></p>
                <p>{{ val.text|truncatechars:50|censor }}</p>

                {% if request.user in val.category.first.subscriber.all%}
                    <a class="btn btn-danger" href="{% url 'category_unsubscribe' val.postcategory_set.first.category.pk %}" role="button">Отписаться</a>
                {% else %}
                    <a class="btn btn-success" href="{% url 'category_subscribe' val.postcategory_set.first.category.pk %}" role="button">Подписаться</a>
                {% endif %}


                {% if request.user.author%}
                    <a class="btn btn-warning" href="{% url 'post_update' val.id %}" role="button">Редактировать</a>
                    <a class="btn btn-danger" href="{% url 'post_delete' val.id %}" role="button">Удалить</a>
                {% else %}
                   <span style="color: gray;">Авторы могу редактировать и удалять статьи.</span>

                {% endif %}
            </div>
            <hr>
        {% endfor %}

    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}

{% include "flatpages/paginate.html" %}

{% endblock content %}