{% extends 'flatpages/default.html' %}

{% block title %}
Subscribe
{% endblock title %}

{% block content %}
    <h1>Вы отписались от уведомлений на новости/статьи по категории <i>{{category}}.</i></h1>
    <hr>
    <div style="text-align: left;">
        <p>Теперь на вашу эл. почту <b>не будет</b> приходить уведомления при появлении новых новостей/статей по данной категории.</p>
        <p> Также каждую неделю <b>не будет</b> приходить список новостей/статей за последнюю неделю.</p>
    </div>
{% endblock content %}